apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: 'slack-notifications'
      group_by: ['alertname', 'severity']
      group_wait: 10s
      group_interval: 2m
      repeat_interval: 1h

    receivers:
    - name: 'slack-notifications'
      slack_configs:
      - api_url: 'https://hooks.slack.com/services/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'
        channel: '#k8s-alertss'
        send_resolved: true
        title: |
          [{{ .Status | toUpper }}] {{ .CommonLabels.alertname }} - {{ .CommonLabels.severity | toUpper }}
        text: >
          {{ range .Alerts }}
          *Alert:* {{ if .Annotations.summary }}{{ .Annotations.summary }}{{ else }}{{ .Labels.alertname }}{{ end }}
          *Description:* {{ if .Annotations.description }}{{ .Annotations.description }}{{ else }}(No description provided){{ end }}
          *Severity:* {{ .Labels.severity }}
          *Namespace:* {{ .Labels.namespace }}
          *Pod:* {{ .Labels.pod }}
          *Instance:* {{ .Labels.instance }}
          *Job:* {{ .Labels.job }}
          *Status:* {{ .Status | toUpper }}
          *Start Time:* {{ .StartsAt }}
          *End Time:* {{ .EndsAt }}
          ---
          {{ end }}
